.invoice-container {
  border: 2px solid #000;
  /* padding: 20px; */
  /* border-radius: 8px; */
}

.supplier-section {
  margin: 0;
}

.supplier-section .row {
  margin: 0;
  padding: 0;
}

/* Ensure proper spacing between rows */
.supplier-section .col-md-12 {
  margin-bottom: 5px;
}

.supplier-section .row .col-md-6 {
  padding-right: 10px; /* Spacing between inner columns */
}
