.logo-light {
  text-decoration: none;
}

.nav-link,
.sub-nav-link {
  text-decoration: none;
}

.logo-font {
  font-family: "Poppins", sans-serif;
  font-style: italic;
  color: white;
  text-decoration: none;
  font-size: large;
}

.nav-icon {
  transition: transform 0.3s ease; /* Smooth rotation effect */
}
